@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #09090b;
    --foreground: #fefce8;
}

body {
    background: var(--background);
    color: var(--foreground);
}

@layer base {
    * {
        @apply border-yellow-500/10;
    }
}