@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
}

@keyframes scan {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(1000%);
    }
}

.animate-scan {
    animation: scan 4s linear infinite;
}